{% extends 'base.html.twig' %}

{% block title %}Produits de client{% endblock %}

{% block body %}
<div class="container">
    <h2 class=""> Hello <span>{{ name }}</span></h2>
    <h3>Toutes Les dernier produits que vous avez acheter</h3>
    <div>
        {% for u in user %}
            <div  class="article new">
                {% if u.nom is same as name %}
                    {% for item in u.commandes %}
                        {% if item.dateCommande|ago <= '6 months' %}
                            <div class="article-item">
                                <h4>{{ item.produit.nom }}</h4>
                                <p>{{ item.produit.description }}</p>
                                <span class="price">{{ item.produit.prix|number_format }} €</span>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
            <h3> Les Articles les plus chers</h3>
            <div  class=" article">
                {% for item in articlePlus %}
                        <div class="article-item">
                            <h4>{{ item.nom }}</h4>
                            <p>{{ item.description }}</p>
                            <p class="price">{{ item.prix|number_format }} €</p>
                        </div>
                {% endfor %} 
            </div> 
    </div>
</div>
  
{% endblock %}
           
